/* ----------------------- service section ----------------------- */

.service-section {
    padding: 80px 0 80px;
}

.service-section .service-item {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.service-section .service-item-inner {
    padding: 25px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--bg-black-100);
    text-align: center;
    width: 100%;
}

.service-section .service-item-inner .icon {
    height: 60%;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto 30px;
    position: relative;
}

.service-section .service-item .service-item-inner:hover .icon:after {
    box-shadow: var(--inner-shadow);
}

.service-section .service-item-inner:hover .icon {
    box-shadow: var(--inner-shadow-0);
}


/* .service-section .service-item-inner .icon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
} */

.service-section .service-item-inner .icon img {
    padding: 10px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.service-section .service-item-inner h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.service-section .service-item-inner a {
    font-size: 16px;
    background-color: #fff;
    color: var(--skin-color);
    margin: 0;
    border: 1px solid transparent;
    line-height: 26px;
}