/* ----------------------------- home section ----------------------------- */

.home-section {
    background-color: #b2f7ef;
    position: relative;
    z-index: 1;
}

.home-section .full-screen {
    padding: 50px 0;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.home-section .home-text p {
    color: var(--text-black-900);
    font-size: 35px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
}

.home-section .home-text h2 {
    font-size: 70px;
    font-weight: 700;
    color: var(--text-black-600);
    margin: 0;
    text-align: center;
}

.home-section .home-text h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-black-700);
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.home-section .home-text .btn-1 {
    margin-top: 30px;
    background-color: #fff;
    position: relative;
    left: 40%;
}

.home-section .home-img .img-box {
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.home-section .home-img .img-box img {
    width: 100%;
    border: 10px solid white;
    border-radius: 50%;
}